/* ----------------------------------------------------------Reset css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* -------------------------------------------------------End reset css */



#page{
  max-width: 1170px;
  margin:auto;
  margin-top: 1em;

}

header{
  display: flex;
  justify-content: space-between;
	align-items: baseline;
	
}

#logo{
  display:flex;
  align-items: center;
}
#logo h1{
  margin-left: 1em;
  font-size:2em;
	color: rgb(45, 79, 101);
}

nav ul {
	width: 30em;
	display: flex;
	justify-content: space-around;
}
nav ul li a{
	text-decoration: none;
	color: rgb(45, 79, 101) ;
	font-size: larger;
}
nav ul li a:hover{
	color: orange;
}

#searchAndDeals{
	display: flex;
	min-height: 300px;
	margin-top: 20px;
	
}

#search{
	background: rgb(45, 79, 101);
	margin-right: 20px;
	padding: 20px;
	flex: 3;
	color: white;

}

#search h1{
	font-size: 1.5em;
	height: 30px;
}

#search form{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
	padding-top: 20px;
}

#search form label{
	display: flex;
	flex-direction: column;
	width : 300px ;
	margin-left: 10px;
	margin: 10px;
}

#search form label input{
	height: 30px;
	margin-top: 5px;
	border: orange 1px solid;
}

#findButton{
	display: flex;
	height: 40px;
	margin-top: 10px;
	justify-content: end;
}

#findButton button{
	width: 150px;
	color: white;
	background: rgb(223, 100, 59);
	border-radius:5px;
}

#deals{
	background: linear-gradient(to top, rgb(224, 222, 222), rgba(255,0,0,0), white), url("https://picsum.photos/500/300") ;
	padding: 20px;
	flex: 2;
	height: 260px;
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	position: relative;
}

#deals h1{
	font-size: 1.5em;
	height: 30px;
}

#deals .details{
	display: flex;
	justify-content:space-between;
	align-items: flex-end;
}
#deals .details h1{
	font-size: 2em;
}

#deals .price{
	background: orange;
	padding: 10px 15px;
	font-weight: bold;
	position: absolute;
	right:0px;
	bottom: 40px;
}

#topDestination{
	margin: 10px;
	display: flex;
	flex-direction: column;

}

#topDestination>h1{
	color: rgb(45, 79, 101);
	font-size: 2em;
	margin: auto;
	margin-bottom: 20px;
}

#TDitems{
	display: flex;
	flex-wrap: wrap;
}

.TDitem{
	width: 270px;
	height: 260px;
	display: flex;
	margin: auto;
	margin-bottom: 30px;
	flex-direction:column;
	justify-content: space-between;
	position: relative;
}

.TDitem h1{
	margin: 20px 0px 0px 20px;
	font-size: 1.5em;
	font-weight: bold;
	color:rgb(223, 100, 59);
}
 
/* j'aurai pu faire du sass ou scss mais je voulais finir vite :) */
.TDitems1{
	background: linear-gradient(to top, rgb(233, 228, 228), rgba(255,0,0,0), rgb(233, 228, 228)), url("https://picsum.photos/301/300") ;
}
.TDitems2{
	background: linear-gradient(to top, rgb(233, 228, 228), rgba(255,0,0,0), rgb(233, 228, 228)), url("https://picsum.photos/302/300") ;
}
.TDitems3{
	background: linear-gradient(to top, rgb(233, 228, 228), rgba(255,0,0,0), rgb(233, 228, 228)), url("https://picsum.photos/303/300") ;
}
.TDitems4{
	background: linear-gradient(to top, rgb(233, 228, 228), rgba(255,0,0,0), rgb(233, 228, 228)), url("https://picsum.photos/304/300") ;
}
.TDitems5{
	background: linear-gradient(to top, rgb(233, 228, 228), rgba(255,0,0,0), rgb(233, 228, 228)), url("https://picsum.photos/300/301") ;
}
.TDitems6{
	background: linear-gradient(to top, rgb(233, 228, 228), rgba(255,0,0,0), rgb(233, 228, 228)), url("https://picsum.photos/300/302") ;
}
.TDitems7{
	background: linear-gradient(to top, rgb(233, 228, 228), rgba(255,0,0,0), rgb(233, 228, 228)), url("https://picsum.photos/300/303") ;
}
.TDitems8{
	background: linear-gradient(to top, rgb(233, 228, 228), rgba(255,0,0,0), rgb(233, 228, 228)), url("https://picsum.photos/300/304") ;
}

.TDitem .detail{
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.TDitem .price{
	background: orange;
	padding: 10px 15px;
	font-weight: bold;
	position: absolute;
	right:0px;
	bottom: 40px;
}


#seeMore {
 display:flex;
 margin: auto;
 margin-bottom:10px;
}

#seeMore button{
	width: 300px;
	height: 30px;
	color: white;
	background: rgb(223, 100, 59);
}



#contact{
	background: #cde2f0;
	max-width: 1170px;
	min-height: 150px;
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

#contact h2{
	font-size: 1.2em;
	margin-bottom: 10px;
}

#link{
	flex: 1;
	margin-left: 1em;
}

#link a{
	text-decoration: none;
  font-size:1.1em;
	color: rgb(45, 79, 101);
}
#link a:hover{
	color: orange;
}

#Address{
	flex: 1;
}
#Address a{
	color: rgb(45, 79, 101);
	margin-top: 20px;
	text-decoration: none;
}
#Address a:hover{
	color: orange;
}

#number{
	flex : 1;
}
#number p{
	font-size: 2em;
}

#deco{
	background: rgb(223, 100, 59);
	max-width: 1170px;
	min-height: 20px;
}

#iconInfo{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: rgb(45, 79, 101);
	max-width: 1170px;
	min-height: 105px;
	
}

#iconInfo div {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	margin: auto;
	margin: 10px;
}

#web img{
	width: 70px;
	height: 70px;
}

#assistance img{
	width: 70px;
	height: 70px;
}

#computer img{
	width: 70px;
	height: 70px;
}

#calculator img{
	width: 70px;
	height: 70px;
}

@media only screen and (max-width: 990px)  { 
	
	#page{
		max-width: 990px;
		margin:auto;
		margin-top: 1em;
	
	}

	#iconInfo{
		max-width: 990px;
		flex-wrap: wrap;
	}
	
	
	#contact{
		flex-wrap: wrap;
	}
	
	#deco{
		max-width: 990px;
	}
	
	#searchAndDeals{
		flex-wrap: wrap;
		flex-direction: column;
	}
	
	header{
		flex-wrap: wrap;
	}
	
	header nav{
		display: none;
	}
 }