/* ----------------------------------------------------------Reset css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* -------------------------------------------------------End reset css */








#page{
  width: 1170px;
  margin:auto;
  margin-top: 1em;

}

header{
  display: flex;
  justify-content: space-between;
	align-items: baseline;
	
}

#logo{
  display:flex;
  align-items: center;
}
#logo h1{
  margin-left: 1em;
  font-size:2em;
	color: rgb(45, 79, 101);
}

nav ul {
	width: 30em;
	display: flex;
	justify-content: space-around;
}
nav ul li a{
	text-decoration: none;
	color: rgb(45, 79, 101) ;
	font-size: larger;
}
nav ul li a:hover{
	color: orange;
}


#iconInfo{
	background: rgb(45, 79, 101);
	width: 1170px;
	height: 105px;
}

#contact{
	background: #cde2f0;
	width: 1170px;
	height: 150px;
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

#contact h2{
	font-size: 1.2em;
	margin-bottom: 10px;
}

#link{
	flex: 1;
	margin-left: 1em;
}

#link a{
	text-decoration: none;
  font-size:1.1em;
	color: rgb(45, 79, 101);
}
#link a:hover{
	color: orange;
}

#Address{
	flex: 1;
}
#Address a{
	color: rgb(45, 79, 101);
	margin-top: 20px;
	text-decoration: none;
}
#Address a:hover{
	color: orange;
}

#number{
	flex : 1;
}
#number p{
	font-size: 2em;
}

#deco{
	background: rgb(223, 100, 59);
	width: 1170px;
	height: 20px;
}

#iconInfo{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#iconInfo div {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}










#title{
	display: flex;
	flex-direction: column;
	padding: 20px;
	width: 100;
	height: 100px;
	background: linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)), url("https://picsum.photos/1170/200");
	color:white;
	margin: 20px 0 40px 0;
}

#title>h1{
	font-size: 3em;
	margin: auto;
}


#main{
	display: flex;
	flex-direction: column;
}

#main article{
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
}
#main a{
	color: rgb(45, 79, 101);
	margin: 0px 0px 20px 0px ;

	text-decoration: none;
}

#main h1{
	display: flex;
	align-items: center;
	height: 30px;
	font-size: 1.3em;
	padding-left: 10px ;
	border-left: 3px solid rgb(223, 100, 59);
	margin: 0px 0px 20px 0px ;
}